<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DocGeneratorUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DocGeneratorUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <DocGeneratorUI.Properties.Settings>
      <setting name="SDDPwebReferencePROD" serializeAs="String">
        <value>https://teams.dimensiondata.com/_vti_bin/copy.asmx</value>
      </setting>
      <setting name="DatabaseLocationPROD" serializeAs="String">
        <value>\Database\Production</value>
      </setting>
      <setting name="DatabaseLocationQA" serializeAs="String">
        <value>\Database\QualityAssurance</value>
      </setting>
      <setting name="DatabaseLocationLicense" serializeAs="String">
        <value>\Database\License</value>
      </setting>
      <setting name="SDDPwebReferenceDEV" serializeAs="String">
        <value>https://teams.uat.dimensiondata.com/_vti_bin/copy.asmx</value>
      </setting>
      <setting name="SDDPwebReferenceQA" serializeAs="String">
        <value>https://teams.dimensiondata.com/_vti_bin/copy.asmx</value>
      </setting>
      <setting name="URLSharePointDEV" serializeAs="String">
        <value>https://teams.uat.dimensiondata.com</value>
      </setting>
      <setting name="URLSharePointPROD" serializeAs="String">
        <value>https://teams.dimensiondata.com</value>
      </setting>
      <setting name="URLSharePointQA" serializeAs="String">
        <value>https://teams.dimensiondata.com</value>
      </setting>
      <setting name="URISharePointSitePortionPROD" serializeAs="String">
        <value>/sites/ServiceCatalogue</value>
      </setting>
      <setting name="URISharePointSitePortionQA" serializeAs="String">
        <value>/sites/uat-servicecatalogue</value>
      </setting>
      <setting name="URISharePointSitePortionDEV" serializeAs="String">
        <value>/sites/ServiceCatalogue</value>
      </setting>
      <setting name="SharePointRESTuri" serializeAs="String">
        <value>/_vti_bin/listdata.svc</value>
      </setting>
    </DocGeneratorUI.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <DocGeneratorUI.Properties.Settings>
      <setting name="LastSelectedPlatform" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentDatabaseHost" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentDatabasePopulated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentDatabaseLastRefreshedOn" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentDatabaseLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentSDDPwebReference" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentURLSharePoint" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentURLSharePointSitePortion" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseLocationDEV" serializeAs="String">
        <value>\Database\Development</value>
      </setting>
      <setting name="CurrentPlatform" serializeAs="String">
        <value />
      </setting>
    </DocGeneratorUI.Properties.Settings>
  </userSettings>
</configuration>
